body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}
.flexRow {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.singleStyle {
  max-width: 22%;
  max-height: 22%;
}

.logoStyle {
  max-width: 2.5%;
  max-height: 2.5%;
}

#styleSpacing {
  width: 1%;
}

/* #movieContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap
  /* height: 15%;
  width: 15%; */
/* } */

/* .posterStyling {
  
} */

/* .buttonsRow {
  display: flex;
  flex-direction: row;
} */

/* #verticalAlign {
  display: flex;
  align-items: center;
} */

/* #randomStyle {
  display: flex;
  flex-direction: row;
}

.comeOnWork {
  display: flex;
  justify-content: flex-end;
} */
/* .thisIGuess{
  position:absolute;top:4px;right:4px;margin-bottom:14px;margin-left:auto;margin-right:auto;width:35px;height:35px;line-height:32px;font-size:16px;color:white;border-radius:0px;text-align:center;cursor: pointer;background-color:#141414;
padding-left:4px;
} */
